@using BlazorWasmClient.Services
@inject TokenService TokenService
@inject NavigationManager Navigation

<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" href="">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="login">Login</a>
    </li>
    @if (TokenService.IsLoggedIn)
    {
        <li class="nav-item">
            <a class="nav-link" href="dashboard">Dashboard</a>
        </li>
        @if (TokenService.UserRole == "Admin")
        {
            <li class="nav-item">
                <a class="nav-link" href="admin">Admin Panel</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link" href="" @onclick="Logout">Logout</a>
        </li>
    }
</ul>
@code {
    private void Logout()
    {
        TokenService.Logout();
        Navigation.NavigateTo("login");
    }
}