@page "/login"
@using BlazorWasmClient.Models
@using BlazorWasmClient.Services
@inject HttpClient Http
@inject NavigationManager Nav
@inject TokenService TokenService

<h3>Login</h3>
<EditForm Model="loginUser" OnValidSubmit="HandleLogin">
    <InputText @bind-Value="loginUser.Username" class="form-control" placeholder="Username" />
    <InputText @bind-Value="loginUser.Password" class="form-control" type="password" placeholder="Password" />
    <button class="btn btn-primary mt-2" type="submit">Login</button>
</EditForm>

@code {
    private UserDto loginUser = new();

    private async Task HandleLogin()
    {
        var result = await Http.PostAsJsonAsync("https://localhost:7250/api/Authe/login", loginUser);
        if (result.IsSuccessStatusCode)
        {
            var tokens = await result.Content.ReadFromJsonAsync<TokenResponseDto>();
            await TokenService.SetTokensAsync(tokens);
            Nav.NavigateTo("dashboard");
        }
        else
        {
            Console.WriteLine("Login failed");
        }
    }
}